---
# yamllint configuration file
# See https://yamllint.readthedocs.io/en/stable/configuration.html

extends: default

rules:
  # Allow longer lines for readability
  line-length:
    max: 120
    level: warning

  # Allow truthy values like 'yes', 'no', 'on', 'off'
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
    check-keys: false

  # Don't require document start markers for simple files
  document-start: disable

  # Allow trailing spaces in some cases
  trailing-spaces:
    level: warning

  # Be more lenient with empty lines
  empty-lines:
    max: 2
    max-start: 1
    max-end: 1

  # Allow different newline characters (Windows/Unix compatibility)
  new-line-at-end-of-file: disable

  # Don't enforce specific newline characters
  new-lines: disable

# Ignore certain paths
ignore: |
  .vault_pass
  .cache/
  .github/
  templates/app_config.j2
